<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonobono.web04.mapper.SampleMapper">
	<!-- 전체 검색 -->
	<select id="selectSampleList"
			resultType="com.bonobono.web04.vo.Sample">
		SELECT 
			sample_id as sampleId,
			sample_name as sampleName
		FROM sample
	</select>
	
	<!-- 하나 검색 -->
	<select id="selectSampleOne"
			resultType="com.bonobono.web04.vo.Sample">
		SELECT 
			sample_name as sampleName,
			sample_id as sampleId
		FROM sample
		WHERE
			sample_id = #{sampleId}
	</select>
	
	<!-- 입력 -->
	<insert id="insertSample"
			parameterType="com.bonobono.web04.vo.Sample">
		INSERT INTO sample(
			sample_name
		) VALUES (
			#{sampleName}
		)
			
	</insert>
	
	<!-- 삭제 -->
	<delete id="deleteSample"
			parameterType="com.bonobono.web04.vo.Sample">
		DELETE
		FROM sample
		WHERE
			sample_id = #{sampleId}
			
	</delete>
	
	<!-- 수정 -->
	<update id="updateSample"
			parameterType="com.bonobono.web04.vo.Sample">
		UPDATE sample
		SET 
			sample_name = #{sampleName}
		WHERE
			sample_id = #{sampleId}
		
	</update>
	
</mapper>